* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background-color: #355;
}

.drum-container {
  height: 100%;
  padding: 20px;
}

.drum {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.drum-item {
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #00b3c2;
}

button {
  background-image: url('../img/crash.png');
  background-size: cover;
  width: 200px;
  height: 200px;
  transition: 0.2s;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  border: none;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
